@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.bg-brown{
	background-color: #f28d4b;
}

.suited-man{
	background-image: url('../img/jumbo.jpg');
	background-position: center top;
	background-repeat: no-repeat; 
}

body{
	background-image: url('../img/a.jpg');
	background-position: center top;
	background-repeat: repeat-y;

	font-family: 'Playfair Display', serif;
}

.container{
	height: 100vh;
}

a.navbar-brand{
	font-family: 'Playfair Display', serif;
}

.text-underline{
	text-decoration: underline;
}